$font: 'Ubuntu Mono', monospace;
$text_color: chartreuse;
$shadow: 0 0 1em $text_color, 0 0 0.2em $text_color;

$left_margin_1: 20%;
$width_1: 60%;

$left_margin_2: 20%;
$width_2: 60%;

$left_margin_3: 15%;
$width_3: 70%;

$left_margin_4: 10%;
$width_4: 80%;


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: $font;
    color: $text_color;
}

body {
    background: #000;
    color: #fff;
}

.topbar {
    margin-left: $left_margin_1;
    width: $width_1;
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.name {
    // height: 50px;
    line-height: 70px;
    text-align: center;
    font-size: 140%;
    font-family: $font;
    color: $text_color;
    text-shadow: $shadow;
}

.end {
    line-height: 70px;
    align-items: center;
    margin-right: 5px;
}

.end img {
    vertical-align: middle;
    height: 100%;
    // width: auto;
    // transform: rotate(deg);
    // transition: transform 1s ease-in;
}

.end button {
    border: none;
    background: transparent;
    padding: 0;
}

.hr1 {
    margin-left: $left_margin_1;
    margin-bottom: auto;
    width: $width_1;
    border-bottom: 2px white solid;
}

.secondbar {
    margin-left: $left_margin_1;
    width: $width_1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mypic img {
    border: solid chartreuse 4px;
    height: 250px;
    border-radius: 50%;
    margin-top: 50px;
}

.title {
    margin-top: 70px;
    height: 90px;
    display: flex;
    display: flex;
    flex-direction: column;
    font-size: 200%;
}

.skills {
    color: $text_color;
    margin-top: 20px;
    font-size: 150%;
}

#jeet {
    margin-top: 20px;
    font-size: 210%;
    // text-shadow: $shadow;
}


// #jeet span {
//     animation-duration: 3s;
//     animation-name: blinker;
//     animation-iteration-count: infinite;
//     animation-timing-function: ease-in;
// }

#blinkkk {
    animation-duration: 2s;
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

a {
    text-decoration: none;
}

.hr2 {
    margin-left: 45%;
    margin-bottom: 50px;
    margin-top: 0px;
    width: 10%;
    border-bottom: 2px white solid;
    padding-bottom: 50px;
}

// .secondbar {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }

._title {
    margin-top: 0px;
    margin-left: $left_margin_1;
    width: $width_1;
    height: 90px;
    display: flex;
    display: flex;
    flex-direction: column;
    font-size: 300%;
    text-align: center;
}

.techs {
    width: $width_1;
    margin-left: $left_margin_1;
    font-size: 200%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-shadow: $shadow;
}

.hr3 {
    margin-left: 45%;
    margin-bottom: 40px;
    margin-top: 0px;
    width: 10%;
    border-bottom: 2px white solid;
    padding-bottom: 60px;
}

.works {
    width: $width_1;
    margin-left: $left_margin_1;
    font-size: 400%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-shadow: $shadow;
}

// .hr3 {
//     margin-left: $left_margin_1;
//     margin-bottom: 70px;
//     margin-top: 20px;
//     width: $width_1;
//     border-bottom: 2px white solid;
//     padding-bottom: 50px;
// }

// .proj {
//     width: $width_1;
//     margin-left: $left_margin_1;
//     font-size: 200%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     text-shadow: $shadow;
// }

// .proj div {
//     margin-bottom: 40px;
// }

// .proj a {
//     text-decoration: underline solid $text_color 2px;
// }

.hr4 {
    margin-left: $left_margin_1;
    margin-bottom: auto;
    margin-top: -20px;
    width: $width_1;
    border-bottom: 2px white solid;
    padding-bottom: 50px;
}

.bottombar {
    width: $width_1;
    height: 70px;
    line-height: 70px;
    align-items: center;
    margin-left: $left_margin_1;
    font-size: 180%;
    display: inline-flex;
    justify-content: space-between;
    filter: drop-shadow(0 0 0.2rem $text_color);
}

span {
    font-size: 150%;
}

.icons img {
    vertical-align: middle;
    height: 100%;
    width: auto;
    transform: rotate(deg);
    transition: transform 1s ease-in;
}

.icons img:hover {
    transform: rotate(360deg);
}

@media (max-width: 95rem) {
    .topbar {
        margin-left: $left_margin_2;
        width: $width_2;
    }

    .hr1 {
        margin-left: $left_margin_2;
        width: $width_2;
    }

    .title {
        margin-left: $left_margin_2;
        width: $width_2;
    }

    ._title {
        margin-left: $left_margin_2;
        width: $width_2;
    }

    .secondbar .title {
        margin-left: $left_margin_2;
        width: $width_2;
    }

    .hr2 {
        margin-left: $left_margin_2;
        width: $width_2;
    }

    .techs {
        margin-left: $left_margin_2;
        width: $width_2;
    }

    .hr3 {
        margin-left: $left_margin_2;
        width: $width_2;
    }

    .proj {
        width: $width_2;
        margin-left: $left_margin_2;
    }

    .hr4 {
        margin-left: $left_margin_2;
        width: $width_2;
    }

    .bottombar {
        width: $width_2;
        margin-left: $left_margin_2;
    }
}

@media (max-width: 75rem) {
    .topbar {
        margin-left: $left_margin_3;
        width: $width_3;
    }

    .hr1 {
        margin-left: $left_margin_3;
        width: $width_3;
    }

    .title {
        margin-left: $left_margin_3;
        width: $width_3;
    }

    ._title {
        margin-left: $left_margin_3;
        width: $width_3;
    }

    .secondbar .title {
        margin-left: $left_margin_3;
        width: $width_3;
    }

    .hr2 {
        margin-left: $left_margin_3;
        width: $width_3;
    }

    .techs {
        margin-left: $left_margin_3;
        width: $width_3;
    }

    .hr3 {
        margin-left: $left_margin_3;
        width: $width_3;
    }

    .proj {
        width: $width_3;
        margin-left: $left_margin_3;
    }

    .hr4 {
        margin-left: $left_margin_3;
        width: $width_3;
    }

    .bottombar {
        width: $width_3;
        margin-left: $left_margin_3;
    }
}

@media (max-width: 65rem) {
    .topbar {
        margin-left: $left_margin_4;
        width: $width_4;
    }

    .hr1 {
        margin-left: $left_margin_4;
        width: $width_4;
    }

    .title {
        margin-left: $left_margin_4;
        width: $width_4;
    }

    ._title {
        margin-left: $left_margin_4;
        width: $width_4;
    }

    .secondbar .title {
        margin-left: $left_margin_4;
        width: $width_4;
    }

    .hr2 {
        margin-left: $left_margin_4;
        width: $width_4;
    }

    .techs {
        margin-left: $left_margin_4;
        width: $width_4;
    }

    .hr3 {
        margin-left: $left_margin_4;
        width: $width_4;
    }

    .proj {
        width: $width_4;
        margin-left: $left_margin_4;
    }

    .hr4 {
        margin-left: $left_margin_4;
        width: $width_4;
    }

    .bottombar {
        width: $width_4;
        margin-left: $left_margin_4;
    }
}

@media (min-width: 45rem) and (max-width: 64rem) {
    .topbar {
        font-size: 100%;
        height: 75px;
    }

    .name {
        line-height: 75px;
    }

    .end {
        line-height: 75px;
    }

    .secondbar .title {
        font-size: 310%;
        margin-top: 10px;
    }

    #jeet {
        font-size: 150%;
    }

    .hr2 {
        margin-top: 180px;
        margin-bottom: 50px;
    }

    .techstack ._title {
        font-size: 350%;
    }

    .techs {
        font-size: 200%;
    }

    .hr3 {
        margin-top: 0px;
        margin-bottom: 50px;
    }

    .projects {
        font-size: 100%;
    }

    .hr4 {
        margin-top: -30px;
    }

    .bottombar {
        font-size: 150%;
    }
}

@media (max-width: 45rem) {
    .topbar {
        font-size: 80%;
        height: 50px;
    }

    .name {
        line-height: 50px;
    }

    .end {
        line-height: 50px;
    }

    .secondbar .title {
        font-size: 180%;
        margin-top: 0px;
    }

    #jeet {
        font-size: 130%;
    }

    .hr2 {
        margin-top: 90px;
        margin-bottom: 40px;
    }

    .techstack ._title {
        font-size: 220%;
    }

    .techs {
        font-size: 150%;
    }

    .hr3 {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .projects {
        font-size: 70%;
    }

    .hr4 {
        margin-top: -50px;
    }

    .bottombar {
        font-size: 120%;
    }
}